!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Daizap
    = csrf_meta_tags
    = stylesheet_link_tag    'user/application/pc', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'user/application/pc', 'data-turbolinks-track': 'reload'
  %body
    = yield
